$base-color: #55298A
$help-color: #e2dcec
$accent-color: #ffa800
$light-grey: #eee
$violet-grey: #3b3444
$white: #fff
$black: #000

=lato
	font-family: 'Lato', sans-serif
	font-weight: 400

body
	min-width: 320px
	+lato
	background: $white
	line-height: 1.4
	&.is-overflow
		overflow: hidden

a
	&:hover
		text-decoration: none

.container
	&.container--center
		max-width: 1300px

.overlay
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0
	background: rgba($black, 0.4)
	opacity: 0
	visibility: hidden
	&.is-active
		opacity: 1
		visibility: visible

.icon
	display: inline-block
	vertical-align: middle

.icon-phone
	+s(phone)
.icon-email
	+s(email)

.back-up
	position: fixed
	z-index: 10
	display: block
	width: 40px
	height: 40px
	right: 20px
	bottom: 20px
	background: $white
	border-radius: 50%
	opacity: 0
	visibility: hidden
	box-shadow: 0 1px 5px 0 rgba($black, 0.7)
	&.is-visible
		opacity: 1
		visibility: visible