---
title: About us
---
{% extends "layouts/_layout.html" %}

{% block content %}
<main class="content">
	<div class="container container--center">
		<div class="row">
			<div class="col">
				<div class="content__in content__in--center">
					<div class="clearfix">
						<div class="text-center text-md-left float-md-left mr-md-4">
							<figure class="figure figure--max-w">
							  <img src="img/stephen-scott.jpg" class="figure-img img-fluid rounded" alt="Stephen Scott">
							  <figcaption class="figure-caption text-center">Stephen Scott, Principal.</figcaption>
							</figure>
						</div>
						<p>I was educated at Methodist College Belfast and graduated from Queen's University, Belfast with an Honours Degree in Law in 1984 and a year later from the Institute of Professional Legal Studies with a Certificate in Professional Legal Studies. I also hold a Law Society Certificate in Advanced Advocacy, with which I appear and represent clients at many Courts within the province. I am also a member of the Advocacy Working Party of the Law Society of Northern Ireland and was until recently an elected member of the Council of the Law Society of Northern Ireland.</p>
						<p>Admitted as a solicitor to the Supreme Court of Jurisdiction in Northern Ireland in 1985, I joined the well-reputed Johnsons Solicitors of Belfast. After gaining extensive experience in a wide range of legal matters from general property matters, such as the buying and selling of houses to the administration of estates, I moved quickly into dealing with personal injury actions and commercial Court cases.</p>
						<p>I was approached by Thompsons solicitors in Newtownards and for the purposes of career advancement moved to the firm in 1987 where I was made partner two years later. In Thompsons, I was responsible for all court matters including personal injury claims for individual claimants, commercial and business disputes some matrimonial and various property transactions and clinical negligence cases. I gained extensive experience and expertise.</p>
						<p>Since I founded Stephen Scott and Company solicitors in Newtownards in 1998, I have established further expertise, dealing personally with property related matters, commercial related matters, personal injury cases and commercial cases. I also assist in the matrimonial side of the practice.  I am also a member of a number of Court Committees that regulate court procedure in the High Court and County Court in Northern Ireland.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
{% endblock %}
