---
title: Buying and Selling Property
activeService: 2
---
{% extends "layouts/_layout.html" %}

{% block content %}
<main class="content">
	<div class="container container--center">
		<div class="row">
			<div class="col">
				<div class="content__in content__in--center">
					<h1 class="title-h1 text-center">Buying & Selling Property</h1>
					<div id="main-content" class="row">
						<div class="col-md-8 col-lg-9">
							<div class="text-center mb-4">
								<img class="img-fluid rounded" src="img/feature2.jpg" alt="">
							</div>
							<h2 class="title-h2 mb-4">Commercial Property</h2>
							<p><strong>BUYING COMMERCIAL PROPERTY</strong></p>
							<p>Stephen Scott and Company Solicitors in Newtownards prides itself on delivering a first rate, efficient and personal service to private client individuals and businesses</p>
							<p>Buying property is an important decision for any business regardless of size. We have acted for both small to medium sized and large companies in property acquisition and property leasing. We can assist you in all aspects of buying, including choice of lender and negotiating with them to achieve the best possible deal in borrowings.</p>
							<p>Full enquiries should be made in respect of survey and environmental enquiries and investigations into what may affect the property, such as pipes, cables, asbestos content and other access points of services.</p>
							<p>Also, be careful when buying property at auction as it may not have been adequately surveyed.</p>
							<p class="mt-4"><strong>COMMERCIAL LEASING - acting for both landlords and tenants</strong></p>
							<p>In relation to leasing, we have expertise in acting for both commercial landlords and tenants. Issues arise and care needs to be taken as to the terms of the lease, with particular reference to repair covenants and rent reviews.</p>
							<p>The purpose of rent reviews is to increase rent over the time of the lease.  One must remember that once a lease is executed a tenant is committed to the landlord to pay the rent for the term of years of the lease unless the landlord agrees to release a tenant. As a consequence, detailed negotiation and discussion and legal advice is essential prior to the execution of a document.</p>
							<p>We can give advice and assistance on condition reports, surveys and break clauses and can act on your behalf if you are a tenant.  We can also assist if you are a landlord in producing a fair, but satisfactory lease that is to your advantage.</p>
							<p>Many individuals and businesses execute leases without legal advice and subsequently find themselves in difficulty.  The obvious temptation is to get a business and new shop unit or building up and running as quickly as possible, but you must remember that when you commit to a lease and fitting out costs, the costs can be substantial, therefore sound prudent advice is required.</p>
							<p>If you want to discuss a case where you think we can help you, contact us on <a href="tel:02891821700" class="content__link">028 9182 1700</a> or email <a href="mailto:info@stephenscottsolicitors.com" class="content__link">info@stephenscottsolicitors.com</a> for a free initial discussion today.</p>
							<h2 class="title-h2 mt-5 mb-4">Private Property</h2>
							<p><strong>BUYING OR SELLING YOUR HOME?</strong></p>
							<p>Stephen Scott and Company Solicitors in Newtownards prides itself on delivering a first rate, efficient and personal service to private client individuals and businesses.</p>
							<p>As experts in the property sector, Stephen Scott and Company solicitors have extensive experience in the buying and selling process. Whether you are buying your first home or selling and looking to upgrade, we would be delighted to guide you through the process every step of the way.</p>
							<p><strong>Why do you need a solicitor?</strong></p>
							<p>The law requires that land cannot be sold unless a contract is signed by both the seller and the buyer. Deeds have to be prepared and executed, registration fees and tax paid, mortgages drawn up and monies to change hands. When the estate agent confirms that your price or offer has been accepted, this is only the start of the process.</p>
							<p>Until a contract is signed, ownership of property does not exchange hands. A good solicitor is needed to ensure the contract is legitimate and you understand all sections especially the small print.</p>
							<p><strong>Selling Your Home?</strong></p>
							<p>If you are selling your home, you will be advised on how to negotiate to get the best deal possible. Your main aim is a successful sale and with Stephen Scott and Company solicitors, you will have the best team working on your behalf.</p>
							<p>Having established good working relationships with reputable agencies all over the province, we can assist you in choosing an estate agent. We know who will get the job done and who will work with us to achieve your goal of a hassle free move.</p>
							<p>All too frequently, we have found that people approach us when they have already selected their agent and in fact have agreed their sale. It is important to seek advice at an early stage.</p>
							<p>If you want to discuss a case where you think we can help you, contact us on <a href="tel:02891821700" class="content__link">028 9182 1700</a> or email <a href="mailto:info@stephenscottsolicitors.com" class="content__link">info@stephenscottsolicitors.com</a> for a free initial discussion today.</p>
						</div>
						<div class="col-md-4 col-lg-3">
							{% include "partials/_service-list.html" %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
{% endblock %}
