---
title: Employment Law
activeService: 4
---
{% extends "layouts/_layout.html" %}

{% block content %}
<main class="content">
	<div class="container container--center">
		<div class="row">
			<div class="col">
				<div class="content__in content__in--center">
					<h1 class="title-h1 text-center">Employment Law</h1>
					<div id="main-content" class="row">
						<div class="col-md-8 col-lg-9">
							<div class="text-center mb-5">
								<img class="img-fluid rounded" src="img/feature4.jpg" alt="">
							</div>
							<p>Employment law is constantly changing. To ensure you are kept up to date with the legislation and assisted in identifying problems and nipping them in the bud before they get out of hand, speak to us today. It is better to be prepared and seek advice at an early stage rather than have a confrontation and find that a tribunal beckons with a dissatisfied employee. </p>
							<p>It always pays to seek advice at an early stage as you will usually save money in the long run and a few hours of legal advice can be relatively inexpensive compared to the level of damages that one may have to pay at a tribunal hearing. </p>
							<p>If you want to discuss a case where you think we can help you, contact us on <a href="tel:02891821700" class="content__link">028 9182 1700</a> or email <a href="mailto:info@stephenscottsolicitors.com" class="content__link">info@stephenscottsolicitors.com</a> for a free initial discussion today.</p>
						</div>
						<div class="col-md-4 col-lg-3">
							{% include "partials/_service-list.html" %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
{% endblock %}
