---
title: Home page
---
{% extends "layouts/_layout.html" %}

{% block content %}
<div class="hero">
	<div class="hero__img" style="background-image: url(img/hero-bg-3.jpg)"></div>
</div>
<main class="content">
	<div class="container container--center">
		<div class="row mb-5">
			<div class="col">
				<div class="content__in">
					<div class="clearfix">
						<img class="content__img content__img--top-left img-fluid rounded float-md-left" src="img/home-img.jpg" alt="">
						<p>Stephen Scott and Company is a solicitors practice in Newtownards.</p>
						<p>We aim to deliver a first rate, efficient and personal service to private client individuals and businesses.</p>
						<p>Since its inception in 1998 by Stephen Scott, the firm has grown from strength to strength. We are well known locally for our expertise in personal injury claims, matrimonial cases and property law and Wills and Probate.</p>
						<p>We concentrate primarily on the following areas of law:</p>
					</div>
				</div>
			</div>
		</div>
		{% set features = ['Personal Injury', 'Buying and Selling Property', 'Business Law', 'Employment Law', 'Matrimonial Law', 'Wills & Estates'] %}
		<div class="row justify-content-center align-items-center">
			{% for feature in features %}
			<div class="col-xs-1 col-sm-6 col-md-4">
				<a href="{{ feature | lower | replace(' ', '-') | replace('&', 'and')}}.html" class="feature-card d-flex align-items-center" style="background-image: url(img/feature{{loop.index}}.jpg)">
					<div class="feature-card__el"><p class="feature-card__text">{{ feature }}</p></div>
				</a>
			</div>
			{% endfor %}
		</div>
	</div>
</main>
{% endblock %}
