---
title: Home page
---
{% extends "layouts/_layout.html" %}

{% block content %}
<div class="hero">
	<div class="hero__img" style="background-image: url(img/hero-bg-3.jpg)"></div>
</div>
<main class="content">
	<div class="container container--center">
		<div class="row mb-5">
			<div class="col">
				<div class="content__in">
					<div class="clearfix">
						<img class="content__img content__img--top-left img-fluid rounded float-md-left" src="img/home-img.jpg" alt="">
						<p>Stephen Scott and Company is a solicitors practice in Newtownards that prides itself on delivering a first rate, efficient and personal service to private client individuals and businesses.</p>
						<p>Based in Newtownards, North Down, Stephen Scott and Company Solicitors is only ten miles from Belfast.
						Since its inception in 1998 by Stephen Scott, the firm has grown from strength to strength. Well known locally for its expertise in personal injury claims, matrimonial cases and property law, Stephen Scott & Co prides itself on the personal relationships it builds with its clients.</p>
						<p>As a location, Newtownards is ideal. Situated at the mouth of Strangford Lough, the town has seen rapid expansion over the last twenty years and is now considered to be a dormitory town of Belfast, served by a main dual carriageway road network ensuring easy access to all major towns and cities.</p>
						<p>With a client base of local businesses and entrepreneurs, Stephen Scott Solicitors concentrates primarily on the following areas of law: personal injury, buying and selling property, business law, employment law, matrimonial law, wills & estates.</p>
					</div>
				</div>
			</div>
		</div>
		{% set features = ['Personal Injury', 'Buying and Selling Property', 'Business Law', 'Employment Law', 'Matrimonial Law', 'Wills & Estates'] %}
		<div class="row justify-content-center align-items-center">
			{% for feature in features %}
			<div class="col-xs-1 col-sm-6 col-md-4">
				<a href="#" class="feature-card d-flex align-items-center" style="background-image: url(img/feature{{loop.index}}.jpg)">
					<div class="feature-card__el"><p class="feature-card__text">{{ feature }}</p></div>
				</a>
			</div>
			{% endfor %}
		</div>
	</div>
</main>
{% endblock %}
