---
title: Matrimonial Law
activeService: 5
---
{% extends "layouts/_layout.html" %}

{% block content %}
<main class="content">
	<div class="container container--center">
		<div class="row">
			<div class="col">
				<div class="content__in content__in--center">
					<h1 class="title-h1 text-center">Matrimonial Law</h1>
					<div id="main-content" class="row">
						<div class="col-md-8 col-lg-9">
							<div class="text-center mb-4">
								<img class="img-fluid rounded" src="img/feature5.jpg" alt="">
							</div>
							<p>Statistics prove that 2 out of 3 marriages end in divorce.</p>
							<p>When conflict occurs and a couple want to separate, there are a number of important issues with regard to assets that need to be resolved. If a business is involved i.e. either husband or wife owns a business, careful exploration of all details need to be taken into consideration prior to any settlement being negotiated. </p>
							<p>In the course of a marital break down, there are many matters which the individuals find very difficult dealing with, in particular the emotional side. If children are involved, it is even more complex.</p>
							<p>Stephen Scott & Company solicitors have extensive experience in dealing with private client matrimonial cases and can offer you sound practical advice in order to move matters forward in a sensible time saving and costs saving manner.  We like to avoid acrimony and dispute at all costs, but if court action is required and negotiated settlements cannot take place, we will actively fight on your behalf to get the best possible settlement for you.</p>
							<p>If you want to discuss a case where you think we can help you, contact us on <a href="tel:02891821700" class="content__link">028 9182 1700</a> or email <a href="mailto:info@stephenscottsolicitors.com" class="content__link">info@stephenscottsolicitors.com</a> for a free initial discussion today.</p>
						</div>
						<div class="col-md-4 col-lg-3">
							{% include "partials/_service-list.html" %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
{% endblock %}
