---
title: Personal Injury
activeService: 1
---
{% extends "layouts/_layout.html" %}

{% block content %}
<main class="content">
	<div class="container container--center">
		<div class="row">
			<div class="col">
				<div class="content__in content__in--center">
					<h1 class="title-h1 text-center">Personal injury</h1>
					<div id="main-content" class="row">
						<div class="col-md-8 col-lg-9">
							<div class="text-center mb-4">
								<img class="img-fluid rounded" src="img/feature1.jpg" alt="">
							</div>
							<p>You will benefit from the firm's considerable experience and success in the field of personal injury claims.</p>
							<p>With extensive experience, the principal, Stephen Scott has been involved in winning a wide range of successful claims for his clients.</p>
							<ul class="content__list">
								<li>Road traffic accidents</li>
								<li>Accidents at work</li>
								<li>Asbestos</li>
								<li>Industrial asthma</li>
								<li>Dermatitis</li>
								<li>Fatal accident claims</li>
								<li>Clinical Negligence / Medical Negligence Claims</li>
							</ul>
							<h4 class="title-h4 mt-4 mb-3">What's different about us?</h4>
							<p>What is different about us is that we take the time to listen to you.  We want the best outcome for you. We are not acting for a Claims Management Company.</p>
							<p>Whether you are the plaintiff or defendant, we have experience in acting for both sides over a range of different types of cases.</p>
							<p>As solicitor advocates (your case can be personally conducted by our firm in court), we have extensive experience in:</p>
							<ul class="content__list">
								<li>the preparation of cases</li>
								<li>appearing in court on behalf of our clients</li>
								<li>personally negotiating settlements in and out of court. We will brief barristers particularly Queens Counsel as and when required depending on the potential size of the case.</li>
							</ul>
							<p>Our team at Stephen Scott and Company solicitors have successfully obtained awards in excess of £150,000 for injured parties.</p>
							<p>You can also benefit from this successful track record and experience to obtain the maximum level of compensation in cases which involve serious injury and protracted absence from employment.</p>
							<p>You can benefit from Stephen Scott and Company's aim -  to resolve your case as quickly as possible on the best possible terms at no risk to you. It must however be remembered that according to Northern Ireland Law, fault must be proved in order to obtain compensation and if proven, you will receive a payment of compensation plus payment of your costs.</p>
							<p>Your case will be heard by us, HOWEVER we will not commit to a court action unless you have prospects of success.</p>
							<p>Also, if you are entitled to legal aid, we can assist in preparing your application.</p>
							<p>If you want to discuss a case where you think we can help you, contact us on <a href="tel:02891821700" class="content__link">028 9182 1700</a> or email <a href="mailto:info@stephenscottsolicitors.com" class="content__link">info@stephenscottsolicitors.com</a> for a free initial discussion today.</p>
							<p><strong>Please Note:</strong></p>
							<p>You are always entitled to appoint your own solicitor. It does not have to be the solicitor of your insurer or insurance broker's choice!</p>
							<p>In many cases, particularly Road Traffic Accidents, if you are a passenger or your vehicle was struck from behind, there will be no fault issues i.e. you are automatically entitled to compensation. Therefore, it makes sense to ensure that you have the lawyer of your choice on your side!</p>
							<p>It is possible for us to provide a replacement car when your vehicle is being repaired due to damage caused in a road traffic accident provided that you contact us as soon as possible after the accident has occurred.</p>
						</div>
						<div class="col-md-4 col-lg-3">
							{% include "partials/_service-list.html" %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
{% endblock %}
