---
title: Wills & Estates
activeService: 6
---
{% extends "layouts/_layout.html" %}

{% block content %}
<main class="content">
	<div class="container container--center">
		<div class="row">
			<div class="col">
				<div class="content__in content__in--center">
					<h1 class="title-h1 text-center">Wills & Estates</h1>
					<div id="main-content" class="row">
						<div class="col-md-8 col-lg-9">
							<div class="text-center mb-4">
								<img class="img-fluid rounded" src="img/feature6.jpg" alt="">
							</div>
							<p>Principal Stephen Scott specialises in administering estates i.e. distributing the property of a deceased individual.  In most cases, a will has to be proven before valuing the Estate, obtaining all asset details to draw up the Grant of Probate of the Will, i.e. prove the Will in the Court to enable the assets to be drawn in, collected, converted and distributed according to the terms of the Will.  In a number of cases, Inheritance Tax has to be dealt with and we can assess and deal with the Capital Taxes office to have the Estate Administered as quickly as possible.</p>
							<p>In other cases where a will has not been made i.e. intestacy, you can benefit from our extensive experience in having the appropriate documents executed as soon as possible and the Estate valued and distributed according to the law of Intestacy.</p>
							<p>If you want to discuss a case where you think we can help you, contact us on <a href="tel:02891821700" class="content__link">028 9182 1700</a> or email <a href="mailto:info@stephenscottsolicitors.com" class="content__link">info@stephenscottsolicitors.com</a> for a free initial discussion today.</p>
						</div>
						<div class="col-md-4 col-lg-3">
							{% include "partials/_service-list.html" %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
{% endblock %}
